*
{

}

.helpIcon
{
    /*background: url(ExtJS/resources/themes/images/default/tools/tools-sprites.gif) no-repeat -15px -300px !important;*/
    background: url(/content/images/help.png) top left no-repeat !important;
}

.iconGo
{
    background: url(/content/images/post_go.gif) top left no-repeat !important;
}

.iconSearch
{
    background: url(/content/images/search.gif) top left no-repeat !important;
}

.iconChart
{
    background: url(/content/images/chart.png) top left no-repeat !important;
}

.iconRSS
{
    background: url(/content/images/rss.png) top left no-repeat !important;
}

.iconEmail
{
    background: url(/content/images/email.gif) top left no-repeat !important;
}

.iconRemind
{
    background: url(/content/images/information.png) top left no-repeat !important;
}

.iconNew
{
    background: url(/content/images/add.gif) top left no-repeat !important;
}

.iconClose
{
    background: url(/content/images/close.png) top left no-repeat !important;
}

.iconEdit
{
    background: url(/content/images/cog_edit.png) top left no-repeat !important;
    display: inline-block;
    cursor: pointer;
    border: 0;
}

.iconDelete
{
    background: url(/content/images/delete.gif) top left no-repeat !important;
    display: inline-block;
    cursor: pointer;
    border: 0;
}

.iconSave
{
    background: url(/content/images/save.png) top left no-repeat !important;
    display: inline-block;
    cursor: pointer;
    border: 0;
}

.iconRefresh
{
    background: url(ExtJS/resources/themes/images/default/grid/refresh.gif) top left no-repeat !important;
}

.logo
{
    background: url(/content/images/oaLogo.png) top left no-repeat !important;
}

.gridRow
{
    height: 30px;
}

.formNav
{
    /*font-weight: bold; */
    padding-left:4px;
    font-size: 12px;
}



.x-grid-row .x-grid-cell
{
    line-height: 18px; /*控制GRID单元格高度 */
}

/*
.x-tree-checked {
    text-decoration: line-through;
    color: #777;
}*/


.MBmenu li
{
    margin: 2px;
    display: block;
    border: solid 1px #dfe8f6;
    padding: 0 0 0 22px;
    background: url(/Content/images/cog.png) no-repeat 2px 2px;
}
.MBmenu li a:hover
{
    background-color: #dfe8f6;
}
.MBmenu li a
{
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    padding: 4px;
}

/*浮动弹出窗口*/
.msg .x-box-mc
{
    font-size: 14px;
}
#msg-div
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 300px;
    z-index: 20000;
}
#msg-div .msg
{
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3
{
    background: url(/content/images/information.png) no-repeat 0 0;
    padding: 0 8px 8px 20px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg a
{
    margin: 0;
}

.icon-user{background-image: url(/content/images/user.png)}  

.iconReply
{
    background: url(/content/images/reply.gif) top left no-repeat !important;
    display: inline-block;
    cursor: pointer;
    border: 0;
}

.iconTransmit
{
    background: url(/content/images/transmit.gif) top left no-repeat !important;
    display: inline-block;
    cursor: pointer;
    border: 0;
}

.actioncolumn
{
    margin:2px;
    cursor: pointer;
}