body
{
}

.helpIcon
{
    /*background: url(ExtJS/resources/themes/images/default/tools/tools-sprites.gif) no-repeat -15px -300px !important;*/
    background: url(/content/images/help.png) top left no-repeat !important;
}

.iconNew
{
    background: url(/content/images/add.gif) top left no-repeat !important;
}

.iconEdit
{
    background: url(/content/images/cog_edit.png) top left no-repeat !important;
    display: inline-block;
    cursor:pointer;
    border:0;
}

.iconDelete
{
    background: url(/content/images/delete.gif) top left no-repeat !important;
    display:inline-block;
    cursor:pointer;
    border:0;
}

.iconRefresh
{
    background: url(ExtJS/resources/themes/images/default/grid/refresh.gif) top left no-repeat !important;
}

.logo
{
    background: url(/content/images/oaLogo.png) top left no-repeat !important;
}

.gridRow
{
    height: 30px;
}

.formNav
{
    /*font-weight: bold; */padding: 6px 10px; font-size:11px;
}



.x-grid-row .x-grid-cell{ 
    line-height:18px;/*控制GRID单元格高度 */
}