<!DOCTYPE html>

<html>
<head>
    <title>MsgNew</title>
</head>
<body>
    <div>
        1.写标题
        2.选收件人:用户\组织
        3.写内容
        4.上传附件
        5.设置途径或默认
        6.发送,关闭当前标签
    </div>
</body>
</html>
