@model EntityObjectLib.WFInst
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>create</title>
</head>
<body>
    <!--业务视图开始-->
    <div>
         @*@RenderPage("~/areas/default/views/login/dddx.cshtml")//RenderPage使用后,RenderPartial都失效*@
       @{
            Html.RenderPartial("~/areas/default/views/login/dddx.cshtml"); //dddx要替换为视图代码,注意:这样写要加cshtml后缀
        }
    </div>
    <!--业务视图结束-->
    <!--流程面板视图开始-->
    <div>
        @{
            Html.RenderPartial("ddd"); //注意:这样写不要加cshtml后缀
        }
    </div>
    <!--流程面板视图结束-->
</body>
</html>
