@{
    // Model类型转换,由流程实例为业务对象,也可以不转换
    //EntityObjectLib.ApplyExpense buizObj = Model as EntityObjectLib.ApplyExpense;
}
    <div>
        AAAname: @Model.Description
                
    </div>
