@using MyHtmlHelp

@model IQueryable<EntityObjectLib.Category>
           
@{
    ViewBag.Title = "index";
    Layout = "~/Areas/test/Views/Shared/master.cshtml";
}

<h2>t1.index</h2>
@{
    //WebGrid WG = new WebGrid(source: this.Model);
 }
 <div>
@* @WG.GetHtml()*@
 </div>
 @*@Html.TextBox("asdfffffffff","1",new{@class="asdf",@width="12"})
 @Html.ActionLink("LinkText", "actionName","ControllerName") 
 @Html.Table("kkk", Model.ToList(),null)*@