@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>testSwfUpload</title>
    <script type="text/javascript" src="/content/swfupload/swfupload.js"></script>
    <script type="text/javascript" src="/content/swfupload/MBupload.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            CreateUploadCtl('fileUploadDiv');
        }
    </script>
</head>
<body>
    <div id="fileUploadDiv">
    </div>
</body>
</html>
