@section header {
    <style type="text/css">
    body
    {
        height:100%;
        width:100%;
    }
    </style>
    <script type="text/javascript">

    </script>
}

<a href="javascript:this.parent.addTab('/system/auth/privilege','test')">parent.addTab</a>
<a href="javascript:this.parent.closeMe(window)">parent.closeme()</a> 发送消息给其他用户和组织,和接收确认<br />
发送消息到讨论板<br />
接收消息,来自于用户消息或订阅或系统消息<br />
查看消息<br />
回复消息<br />
自定义消息接收途径<br />
订阅主题和系统事件和取消订阅<br />
提醒也用消息实现<br />
