<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDB1"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=testDB;Integrated Security=True;Pooling=False"
         providerName="System.Data.SqlClient" />
    <add name="MyDB2"
         connectionString="data source=C:\FromCVS\BuizApp\BuizWeb\App_Data\TestEF.db3"
         providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>